body{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: auto;
    /*background: url(/img/teste.gif) no-repeat;*/
    margin: 0% 10px;
    justify-content: flex-end
}
header {
    height: 99%;
    border-radius: 10px;
    width: 30%;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    background-color: #cacaca;
    color: rgb(0, 0, 0);

}
.container {
    width: 300px;
    padding: 20px;
    background: #0059ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form h2 {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}

form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    border: 1px solid #000000;
}

form button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover{
    background-color: #0056b3;
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

img {
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid #0059ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    width: 70%;
    height: 80%;
    margin-bottom: 20px;
}